# Dynamic host volume for Jellyfin cache data
name      = "jellyfin-cache"
type      = "host"
plugin_id = "mkdir"

capability {
  access_mode     = "single-node-writer"
  attachment_mode = "file-system"
}

constraint {
  attribute = "${attr.unique.hostname}"
  value     = "{{ target_hostname | default(ansible_hostname) }}"
}

parameters {
  path = "{{ jellyfin_cache_dir }}"
  mode = "0755"
}
