# Dynamic host volume for Plex configuration data
name      = "plex-config"
type      = "host"
plugin_id = "mkdir"

capability {
  access_mode     = "single-node-writer"
  attachment_mode = "file-system"
}

constraint {
  attribute = "${attr.unique.hostname}"
  value     = "{{ target_hostname | default(ansible_hostname) }}"
}

parameters {
  path = "{{ plex_config_dir }}"
  mode = "0755"
  uid  = "{{ user_uid }}"
  gid  = "{{ group_gid }}"
}
